<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Lense Editor"
            extensions="lense"
            icon="icons/icon.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="lenseide.editors.LenseEditor"
            id="lenseide.editors.LenseEditor">
      </editor>
   </extension>

</plugin>
